body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

body.active {
  overflow: hidden;
  z-index: -1;
}

.no-js #experience-timeline > div {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dcd9d9;
}

.no-js #experience-timeline > div h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #374054;
  display: inline-block;
  margin: 0;
}

.no-js #experience-timeline > div h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0;
}

.no-js #experience-timeline > div p {
  color: #74808a;
  font-size: 0.9em;
  margin: 0;
}

.no-js #experience-timeline:before,
.no-js #experience-timeline:after {
  content: none;
}

@keyframes dropHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.75s;
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header ul {
  display: inline-block;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

header li {
  display: inline-block;
}

header a {
  display: block;
  color: #3498db;
  padding: 10px;
}

header a:hover {
  color: #217dbb;
  text-decoration: none;
  background: #eee;
  border-radius: 4px;
}

header a:focus {
  color: #3498db;
  text-decoration: none;
}

header.active {
  display: block;
}

header.sticky {
  position: fixed;
  z-index: 999;
}

#menu.active {
  display: block;
}

#mobile-menu-open {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 10px;
  color: #3498db;
  font-size: 1.5em;
  z-index: 20;
  padding: 0 7px;
  border-radius: 4px;
  background: #fff;
}

#mobile-menu-close {
  display: none;
  text-align: right;
  width: 100%;
  background: #fff;
  font-size: 1.5em;
  padding-right: 15px;
  padding-top: 10px;
  cursor: pointer;
  color: #3498db;
}

#mobile-menu-close span {
  font-size: 0.5em;
  text-transform: uppercase;
}

#mobile-menu-close i {
  vertical-align: middle;
}

footer {
  padding: 50px 0;
}

.copyright {
  padding-top: 20px;
}

.copyright p {
  margin: 0;
  color: #74808a;
}

.top {
  text-align: center;
}

.top span {
  cursor: pointer;
  display: block;
  margin: 15px auto 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #b9bfc4;
  text-align: center;
}

.top i {
  color: #74808a;
}

.social {
  text-align: right;
}

.social ul {
  margin: 5px 0 0 0;
  padding: 0;
}

.social li {
  display: inline-block;
  font-size: 1.25em;
  list-style: none;
}

.social a {
  display: block;
  color: #74808a;
  padding: 10px;
}

.social a:hover {
  color: #3498db;
}

.btn-rounded-white {
  display: inline-block;
  color: #fff;
  padding: 15px 25px;
  border: 3px solid #fff;
  border-radius: 30px;
  transition: 0.5s ease all;
}

.btn-rounded-white:hover {
  color: #3498db;
  background: #fff;
  text-decoration: none;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-large {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;
  text-align: center;
  padding-left: 10px;
  width: 100%;
}

.heading:after {
  position: absolute;
  content: "";
  top: 100%;
  height: 1px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #3498db;
}

.background-alt {
  background: #f2f2f5;
}

#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background: url(../images/lead-bg.jpg);
  background-size: cover;
  padding: 15px;
  overflow: hidden;
  padding-top: 100px;
}

#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#lead-content h1,
#lead-content h2 {
  margin: 0;
}

#lead-content h1 {
  color: #fff;
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em;
}

#lead-content h2 {
  color: #a0cfee;
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: 15px;
}

#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 125, 187, 0.8);
  z-index: 1;
}

#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: #fff;
}

#lead-down span {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #a0cfee;
  text-align: center;
}

#lead-down i {
  animation: pulsate 1.5s ease;
  animation-iteration-count: infinite;
  padding-top: 5px;
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

#about,
#experience,
#projects,
#skills,
#interests,
#contact {
  padding: 75px 15px;
  border-bottom: 1px solid #dcd9d9;
}

#about h2 {
  color: #374054;
}

#about p {
  color: #74808a;
  margin: 0;
}

#education,
#volunteer {
  padding: 75px 15px;
  text-align: center;
  border-bottom: 1px solid #dcd9d9;
}

#education h2,
#volunteer h2 {
  color: #374054;
}

.education-block {
  padding: 20px;
  text-align: left;
}

.education-block h3,
.education-block h4,
.education-block .education-date {
  margin: 5px 0;
}
.education-block h4 {
  font-size: 1em;
  font-weight: normal;
  color: #7e8890;
  margin: 0 0 15px 0;
}
.education-block .education-date {
  text-align: right;
  float: right;
}

#experience {
  padding: 75px 15px;
}

#experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px;
}

.vtimeline-content {
  margin-left: 0;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 3px;
  text-align: left;
}

.vtimeline-content h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #374054;
  display: inline-block;
  margin: 0;
}

.vtimeline-content h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0;
}

.vtimeline-content p {
  color: #74808a;
  font-size: 0.9em;
  margin: 0;
}

.vtimeline-content span {
  font-size: 0.9em;
  color: #3498db;
  display: inline-block;
  margin: 15px 0 0 0;
}

.vtimeline-content span:hover {
  text-decoration: underline;
}

.vtimeline-icon {
  display: none;
}

.vtimeline-icon i {
  color: #fff;
  font-size: 1.25em;
  position: relative;
  left: 2px;
}

[data-date] {
  position: relative;
  padding: 15px 0;
}

[data-date]:before {
  position: absolute;
  content: attr(data-date);
  text-align: right;
  right: 50px;
  top: 0;
  color: #a0a0a0;
  font-size: 0.9em;
  min-width: 130px;
}

[data-date]:after {
  display: none;
  position: absolute;
  content: "";
  top: 12px;
  left: -9px;
  z-index: 1;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #3498db;
}

.project-info {
  text-align: left;
  padding: 20px;
  margin-bottom: 10px;
}

.project-info h3 {
  margin: 0 0 0px 0;
}

.project-info ul {
  margin-bottom: 20px;
  list-style: disc inside;
}

.project-info ul li,
.volunteer ul li,
.experience-block ul li {
  list-style-type: disc;
  padding-left: 0px;
  position: relative;
}

.project-info ul li:before,
.volunteer ul li:before,
.experience-block ul li:before {
  position: absolute;
  left: 0;
  top: 0;
}

.project-info a {
  color: #3498db;
  display: inline-block;
  margin: 10px 0;
}

.project-info a + a {
  margin-left: 10px;
}

.project-info a:hover {
  text-decoration: underline;
}

.volunteer h3,
.volunteer h4,
.volunteer ul {
  margin: 10px 0;
}

.volunteer ul {
  list-style: disc inside;
}

.volunteer ul li {
  padding-left: 20px;
  position: relative;
}

#skills ul,
#interests ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

#skills ul li,
#interests ul li {
  background: #3498db;
  color: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  flex: 1 1 30%;
  text-align: center;
}

#contact {
  padding-bottom: 75px;
}

#contact-form {
  background: #fff;
  padding: 30px;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

#contact-form form {
  padding: 0;
  margin: 0;
}

#contact-form input,
#contact-form textarea,
#contact-form button {
  width: 100%;
  margin: 10px 0 0 0;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  color: #74808a;
}

#contact-form input {
  border-bottom: 3px solid #e6e6e6;
  transition: 0.5s ease all;
}

#contact-form input:hover {
  border-bottom: 3px solid #3498db;
}

#contact-form textarea {
  border-bottom: 3px solid #e6e6e6;
  transition: 0.5s ease all;
}

#contact-form textarea:hover {
  border-bottom: 3px solid #3498db;
}

#contact-form button {
  background: #3498db;
  color: #fff;
  transition: 0.5s ease all;
  cursor: pointer;
  border-bottom: 3px solid #217dbb;
}

#contact-form button:hover {
  background: #2a86c1;
}

@media only screen and (max-width: 1200px) {
  [data-date]:before {
    right: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  [data-date]:before {
    right: 0;
  }
}

@media only screen and (max-width: 800px) {
  .vtimeline-content {
    margin-left: 0;
    padding: 25px;
  }

  [data-date]:before {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #lead-content h1 {
    font-size: 2.5em;
  }

  #lead-content h2 {
    font-size: 1.75em;
  }
}

@media only screen and (max-width: 480px) {
  .project > .project-image {
    height: 300px;
  }
}

@media only screen and (max-width: 375px) {
  #lead-content h1 {
    font-size: 2em;
  }

  #lead-content h2 {
    font-size: 1.5em;
  }

  .project > .project-image {
    height: 250px;
  }
}

@media only screen and (max-width: 320px) {
  .project > .project-image {
    height: 200px;
  }
}
